.navbar-inverse{
    background-color: #243D5E;
    color:#fff;
}
.navbar-brand{
    width:50px;
    background: url(../images/logo.jpg) no-repeat;
    background-size:cover;
}
html,body{
    width:100%;
    background-color: #FCF8E3;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ', Arial, sans-serif;
}
#world{
    width:100%;
    position: absolute;
    opacity: .1;
    background-color: transparent;
}
.link-content{
    position: absolute;
    z-index:100000;
    right:0;
}
.summary{
    width:100%;
    max-height:100px;
    overflow:hidden;
}
img{
    max-height:200px;
}